<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Detail My Life">
        <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
        <meta name="author" content="Oswaldo Rojas">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/todo/css/bootstrap.min.css') }}" rel="stylesheet">
{% block incluir_css %}{% endblock %}

        <!-- Documentation extras -->
        <link href="{{ asset('bundles/todo/css/docs.min.css') }}" rel="stylesheet">
        <!--[if lt IE 9]><script src="{{ asset('bundles/todo/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('bundles/todo/js/ie10-viewport-bug-workaround.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/ie-emulation-modes-warning.js') }}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/todo/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/respond.min.js') }}"></script>
        <![endif]-->

        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/todo/ico/apple-touch-icon-144-precomposed.png') }}">
                                       <link rel="shortcut icon" href="{{ asset('bundles/todo/ico/favicon.ico') }}">
        
        <!-- Javascript -->
        <script src="{{ asset('bundles/todo/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/docs.min.js') }}"></script>
{% block incluir_javascripts %}{% endblock %}

{% block incluir_local_style %}{% endblock %}
    </head>
{#    <body class="bs-docs-home{% block clases_internas %}{% endblock %}">#}
    <body class="bs-docs-home{% block clases_internas %}{% endblock %}">
{% block body %}{% endblock %}
    </body>
</html>