{% extends '::base.html.twig' %}

{% block title %}Informe gastos{% endblock %}
{% block incluir_css %}
        <link href="{{ asset('bundles/todo/js/bootstrap-select/bootstrap-select.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/todo/css/offcanvas.css') }}" rel="stylesheet">
{% endblock %}
{% block incluir_javascripts %}
        <script src="{{ asset('bundles/todo/js/expander/jquery.expander.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/bootstrap-select/bootstrap-select.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/bootstrap3-typeahead/bootstrap3-typeahead.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/mis-javascripts/dump.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/jquery-zclip/jquery.zclip.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/mis-javascripts/validators.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/offcanvas.js') }}"></script>
{% endblock %}
{% block body %}
        <style>
            .table {
                font-size: 87%;
            }
            .table thead th:nth-child(1) {
                width: 14%
            }
            .table thead th:nth-child(2),
            .table thead th:nth-child(5) {
                width: 25.5%
            }
            .table thead th:nth-child(3) {
                width: 5%
            }
            .table thead th:nth-child(4) {
                width: 10%
            }
            .table thead th:nth-child(6),
            .table thead th:nth-child(7) {
                width: 9.5%
            }
            .table thead th:nth-child(1),
            .table thead th:nth-child(2),
            .table thead th:nth-child(3),
            .table thead th:nth-child(4),
            .table thead th:nth-child(5),
            .table thead th:nth-child(6),
            .table thead th:nth-child(7),
            .table tbody th:nth-child(1) {
                text-align: center;
            }
            .table tbody td:nth-child(6),
            .table tbody td:nth-child(7) {
                text-align: right;
            }
        </style>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>Hello, world!</h1>
                        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                    </div>
                    <div class="row" style="padding-bottom: 1%">
                        <div class="col-md-4">
                            <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 1px">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Ingreso movimientos bancarios</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="insercion">Inserci&oacute;n : <span id="msj-insercion" style="display: none"></span></label>
                                                <textarea id="pegar" class="form-control" rows="7" style="resize: none"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="margin-top: 0">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary btn-paste">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#<div class="form-inline">
                                <div class="form-group cp">
                                    <button class="btn btn-default" data-toggle="tooltip" title="Copiado">
                                        <span class="glyphicon glyphicon-paperclip" style="top: 3px"></span>
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon glyphicon-floppy-open" style="top: 3px"></span>
                                    </button>
                                </div>
                                <div class="form-group">#}
                            <pre>
{% set dql = 'SELECT ah.ahId, ah.ahNumeroCuenta, sbbip.esId, sbbip.esAlias '
           ~ 'FROM TodoBundle:Ahorros ah '
           ~ 'JOIN ah.contratarBCb cb '
           ~ 'JOIN cb.entidadSbbipEs sbbip '
           ~ 'GROUP BY sbbip.esAlias' %}
{% set q = dqlArrayOs(dql) %}
{#{% for group in q %}
                                     {{ group.esAlias }}
{%  set dql1 = 'SELECT ah.ahId, ah.ahNumeroCuenta '
             ~ 'FROM TodoBundle:Ahorros ah '
             ~ 'WHERE ah.ahId = :criterio' %}
{%  set param = { 'criterio' : group.ahId } %}
{%  set q1 = dqlArrayOs(dql1, param) %}
{%  for option in q1 %}
                                      {{ dump(q1) }}
{%  endfor %}
{% endfor %}#}
</pre>
{#                                <select id="ah" class="selectpicker" {#class="form-control"#}>#}

{#{% for ah in ahorros %}
                                    <optgroup label="{{ ah.esAlias }}">
                                    <option value="{{ ah.ahId }}"{% if loop.index == 1 %} selected="selected"{% endif %}>{{ ah.ahNumeroCuenta }}</option>
                                    </optgroup>
{% endfor %}#}
{#{% set dql = 'SELECT ah.ahId, ah.ahNumeroCuenta, sbbip.esId, sbbip.esAlias '
           ~ 'FROM TodoBundle:Ahorros ah '
           ~ 'JOIN ah.contratarBCb cb '
           ~ 'JOIN cb.entidadSbbipEs sbbip '
           ~ 'GROUP BY sbbip.esAlias' %}
{% set q = dqlArrayOs(dql) %}
{% for group in q %}
                                    <optgroup label="{{ group.esAlias }}">
{%  set dql1 = 'SELECT ah.ahId, ah.ahNumeroCuenta '
             ~ 'FROM TodoBundle:Ahorros ah '
             ~ 'WHERE ah.ahId = :criterio' %}
{%  set param = { 'criterio' : group.ahId } %}
{%  set q1 = dqlArrayOs(dql1, param) %}
{%  for option in q1 %}
                                        <option>{{ dump(q1) }}</option>
{%  endfor %}
                                    </optgroup>
{% endfor %}
                                    </select>#}
                                {#</div>
                            </div>#}
                        </div>
                        <div class="col-md-8">
                            <div class="form-inline" style="text-align: right">
                                <input type="text" class="form-control" id="bMo" placeholder="Movimientos" style="width: 70%" />
                                <div class="btn-group accion" style="text-align: left">
                                    <button type="button" class="btn btn-primary trigger" style="width: 120px">Default</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="porFecha"><a onclick="javascript:void(0)">Por fecha</a></li>
                                        <li class="porConcepto"><a onclick="javascript:void(0)">Por concepto</a></li>
                                        <li class="porDocumento"><a onclick="javascript:void(0)">Por documento</a></li>
                                        <li class="divider"></li>
                                        <li class="default">                                                
                                            <a onclick="javascript:void(0)"><span class="glyphicon glyphicon-ok"></span> Default</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped responsive-utilities table-hover table-condensed" style="border: none">
                            <thead>
                                <tr style="border: 1px solid #ddd">
                                    <th>Fecha</th>
                                    <th>Concepto</th>
                                    <th>Tipo</th>
                                    <th>Documento</th>
                                    <th>Oficina</th>
                                    <th>Monto</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
{{ include ('TodoBundle:Movimientos:mo_list.html.twig', { 'pager' : pager }) }}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-9 miPager">
{{ include ('TodoBundle:Movimientos:mo_pager.html.twig', { 'pager' : pager }) }}
                        </div>
                        <div class="col-md-3">
                            <div class="btn-toolbar pull-right" role="toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default total">
                                        Total: {{ pager.getNbResults() }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/span-->
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
            <hr>
            <footer><p>&copy; Company 2014</p></footer>
        </div><!--/.container-->
        <script type="text/javascript">
            $(function() {
                $('div.cp').zclip({
                    path       : '{{ asset('bundles/todo/js/jquery-zclip/ZeroClipboard.swf') }}',
                    copy       : function(){ return $('select#ah option:selected').text() },
                    beforeCopy : function(){},
                    afterCopy  : function(){}
                }).bind('click', function(){
                    $('div.cp button').tooltip({ placement : 'left' });
                    $('div.cp button').tooltip('show');
                    setTimeout(function(){
                        $('div.cp button').tooltip('hide');
                    },800);
                });
                /**
                 * Custom Select ----------------------------------------------
                 */
                $('.selectpicker').selectpicker();
                /**
                 * ------------------------------------------------------------
                 */
                miExpander();
                $('select#ah').bind('change', function(){
                    var url_list  = '{{ path('todo_mo_list', { 'id' : 'val' }) }}',
                        url_list  = url_list.replace('val', $(this).val()),
                        url_pager = '{{ path('todo_mo_pager', { 'id' : 'val' }) }}',
                        url_pager = url_pager.replace('val', $(this).val());
                    if ($('input#bMo').val().length) {
                        switch ($.trim($('button.trigger').text())){
                            case "Por fecha":
                                url_list  = agregarParametroAURL(url_list,'bMoFecha',$('input#bMo').val());
                                url_pager = agregarParametroAURL(url_pager,'bMoFecha',$('input#bMo').val());
                            break;
                            case "Por concepto":
                                url_list  = agregarParametroAURL(url_list,'bMoConcepto',$('input#bMo').val());
                                url_pager = agregarParametroAURL(url_pager,'bMoConcepto',$('input#bMo').val());
                            break;
                            case "Por documento":
                                url_list  = agregarParametroAURL(url_list,'bMoDocumento',$('input#bMo').val());
                                url_pager = agregarParametroAURL(url_pager,'bMoDocumento',$('input#bMo').val());
                            break;
                        }
                    }
                    $.post(url_list, function(data){ $('.table tbody').html(data); miExpander(); });
                    $.post(url_pager, function(data){ $('.miPager').html(data); });
                });
                $('ul.dropdown-menu li > a').css('cursor','pointer');
                $('li.porFecha a:first').bind('click', function(){ 
                    $('div.accion button:first').text($(this).text());
                    $('ul.dropdown-menu li > a span:first').remove();
                    $('input#bMo').val('');
                    $(this).html('<span/> '+$(this).text()).find('span').addClass('glyphicon glyphicon-ok');
                });
                $('li.porConcepto a:first').bind('click', function(){
                    $('div.accion button:first').text($(this).text());
                    $('ul.dropdown-menu li > a span:first').remove();
                    $('input#bMo').val('');
                    $(this).html('<span/> '+$(this).text()).find('span').addClass('glyphicon glyphicon-ok');
                });
                $('li.porDocumento a:first').bind('click', function(){
                    $('div.accion button:first').text($(this).text());
                    $('ul.dropdown-menu li > a span:first').remove();
                    $('input#bMo').val('');
                    $(this).html('<span/> '+$(this).text()).find('span').addClass('glyphicon glyphicon-ok');
                });
                $('li.default a:first').bind('click', function(){
                    $('div.accion button:first').text($(this).text());
                    $('ul.dropdown-menu li > a span:first').remove();
                    $('input#bMo').val('');
                    $(this).html('<span/> '+$(this).text()).find('span').addClass('glyphicon glyphicon-ok');
                });
                $('button.trigger').bind('click', function() {
                    switch ($.trim($(this).text())){
                        case "Por fecha":     busquedaPorFecha();     break;
                        case "Por concepto":  busquedaPorConcepto();  break;
                        case "Por documento": busquedaPorDocumento(); break;
                        default: busquedaPorDefault();
                    }
                });
                setTimeout(function(){
                    $('a[data-toggle^="tool"]').tooltip({ placement : 'left' });
                    $('a[data-toggle^="tool"]').tooltip('show');
                    setTimeout(function(){
                        $('a[data-toggle^="tool"]').tooltip('hide');
                    },1300);
                },500);
                
                $('.btn-paste').bind('click', function(){
                    if ($('#pegar').val().length <= 9) {
                        $('#pegar').focus();
                        $('#msj-insercion').addClass('label label-danger');
                        $('#msj-insercion').text('Contenido incompleto').fadeIn('slow');
                        setTimeout(function(){ $('#msj-insercion').fadeOut('fast'); },1500);
                    } else {
                        var array = { 
                                txta : $('textarea[id="pegar"]').val(), 
                                ica  : $('select#ah option:selected').val() 
                            }
                        $.post('{{ path('todo_mo_paste') }}', array, function(data){
                            if (data.msj) {
                                $('#msj-insercion').removeClass('label label-danger');
                                $('#msj-insercion').addClass('label label-success');
                                $('#msj-insercion').text('Insercion completa').fadeIn('slow');
                                $('#pegar').attr('disabled', true);
                                setTimeout(function(){ 
                                    $('#msj-insercion').fadeOut('fast');
                                    $('#pegar').removeAttr('disabled');
                                    $('#myModal').modal('hide');
                                    busquedaPorDefault();
                                }, 1500);
                            }
                        }, 'json');
                    }
                });
            });
            function miExpander() {
                $('span.expander').expander({
                    slicePoint       : 17,
                    widow            : 2,
                    expandEffect     : 'show',
                    expandSpeed      : 0,
                    collapseEffect   : 'hide',
                    collapseSpeed    : 0,
                    expandText       : '>>',
                    userCollapseText : '<<'
                });
            }
            function agregarParametroAURL(url, param, value){
                return url 
                       + (url.split('?')[1] ? '&' : '?')
                       + encodeURIComponent(param)
                       + '=' + encodeURIComponent(value);
            }
            function busquedaPorFecha() {
                var url_list  = '{{ path('todo_mo_list', { 'id': 'val', 'bMoFecha': 'val2' }) | raw }}',
                    url_list  = url_list.replace('val', $('select#ah').val()),
                    url_list  = url_list.replace('val2', $('input#bMo').val()),
                    url_pager = '{{ path('todo_mo_pager', { 'id' : 'val', 'bMoFecha' : 'val2' }) | raw }}',
                    url_pager = url_pager.replace('val', $('select#ah').val()),
                    url_pager = url_pager.replace('val2', $('input#bMo').val());
                $.post(url_list, function(data){ $('.table tbody').html(data); miExpander(); });
                $.post(url_pager, function(data){ $('.miPager').html(data); });
            }
            function busquedaPorConcepto() {
                var url_list  = '{{ path('todo_mo_list', { 'id': 'val', 'bMoConcepto': 'val2' }) | raw }}',
                    url_list  = url_list.replace('val', $('select#ah').val()),
                    url_list  = url_list.replace('val2', $('input#bMo').val()),
                    url_pager = '{{ path('todo_mo_pager', { 'id' : 'val', 'bMoConcepto' : 'val2' }) | raw }}',
                    url_pager = url_pager.replace('val', $('select#ah').val()),
                    url_pager = url_pager.replace('val2', $('input#bMo').val());
                $.post(url_list, function(data){ $('.table tbody').html(data); miExpander(); });
                $.post(url_pager, function(data){ $('.miPager').html(data); });
            }
            function busquedaPorDocumento() {
                var url_list  = '{{ path('todo_mo_list', { 'id': 'val', 'bMoDocumento': 'val2' }) | raw }}',
                    url_list  = url_list.replace('val', $('select#ah').val()),
                    url_list  = url_list.replace('val2', $('input#bMo').val()),
                    url_pager = '{{ path('todo_mo_pager', { 'id' : 'val', 'bMoDocumento' : 'val2' }) | raw }}',
                    url_pager = url_pager.replace('val', $('select#ah').val()),
                    url_pager = url_pager.replace('val2', $('input#bMo').val());
                $.post(url_list, function(data){ $('.table tbody').html(data); miExpander(); });
                $.post(url_pager, function(data){ $('.miPager').html(data); });
            }
            function busquedaPorDefault() {
                var url_list  = '{{ path('todo_mo_list', { 'page' : 1, 'id' : 'val' }) }}',
                    url_list  = url_list.replace('val', $('select#ah option:selected').val()),
                    url_pager = '{{ path('todo_mo_pager', { 'page' : 1, 'id' : 'val' }) }}',
                    url_pager = url_pager.replace('val', $('select#ah option:selected').val());
                $('input#bMo').val('');
                $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                $.post(url_pager, function(data) { $('.miPager').html(data); });
            }
        </script>
{% endblock %}