{% extends '::base.html.twig' %}

{% block title %}Detalle gastos{% endblock %}
{% block incluir_css %}
        <link href="{{ asset('bundles/todo/js/bootstrap-select/bootstrap-select.css') }}" rel="stylesheet">
{% endblock %}
{% block incluir_javascripts %}
        <script src="{{ asset('bundles/todo/js/expander/jquery.expander.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/bootstrap-select/bootstrap-select.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/bootstrap3-typeahead/bootstrap3-typeahead.js') }}"></script>
        <script src="{{ asset('bundles/todo/js/mis-javascripts/dump.js') }}"></script>
{% endblock %}
{% block body %}
        <style>
            .table {
                font-size: 87%;
            }
            .table thead th:nth-child(1) {
                width: 14%
            }
            .table thead th:nth-child(2),
            .table thead th:nth-child(5) {
                width: 26%
            }
            .table thead th:nth-child(3) {
                width: 5%
            }
            .table thead th:nth-child(4) {
                width: 10%
            }
            .table thead th:nth-child(6),
            .table thead th:nth-child(7) {
                width: 9%
            }
            .table thead th:nth-child(1),
            .table thead th:nth-child(2),
            .table thead th:nth-child(3),
            .table thead th:nth-child(4),
            .table thead th:nth-child(5),
            .table thead th:nth-child(6),
            .table thead th:nth-child(7),
            .table tbody th:nth-child(1) {
                text-align: center;
            }
            .table tbody td:nth-child(6),
            .table tbody td:nth-child(7) {
                text-align: right;
            }
        </style>
        <a class="sr-only" href="#content">Skip to main content</a>
        <!-- Docs master nav -->
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">Bootstrap</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="../getting-started">Getting started</a></li>
                        <li class="active"><a href="../css">CSS</a></li>
                        <li><a href="../components">Components</a></li>
                        <li><a href="../javascript">JavaScript</a></li>
                        <li><a href="../customize">Customize</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://expo.getbootstrap.com" onclick="_gaq.push(['_trackEvent', 'Navbar', 'Community links', 'Expo']);">Expo</a></li>
                        <li><a href="http://blog.getbootstrap.com" onclick="_gaq.push(['_trackEvent', 'Navbar', 'Community links', 'Blog']);">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Docs page layout -->
        <div class="bs-docs-header" id="content">
            <div class="container">
                <h1>CSS</h1>
                <p>Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.</p>
                <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script>var z = document.createElement("script"); z.async = true; z.src = "http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
            </div>
        </div>
        <div class="container bs-docs-container">
            <div class="row">
                <div class="col-md-9" role="main">
                    <!-- Global Bootstrap settings ================================================== -->
                    <div class="bs-docs-section">
                        <h1 id="overview" class="page-header">Principal</h1>
                        <p class="lead">Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.</p>
                        <h3 id="overview-ahorros">Cuentas de ahorros</h3>
                        <p>Aqui encontramos de forma de tallada las cuentas de ahorros que tiene el usuario ordenados del &uacute;ltimo al primero.</p>
                        <div class="row" style="padding-bottom: 1%">
                            <div class="col-md-3">
                                <select id="ah" class="form-control">
{% for ah in ahorros %}
                                    <option value="{{ ah.ahId }}">{{ ah.ahNumeroCuenta }}</option>
{% endfor %}
                                </select>
                            </div>
                            <div class="col-md-9">
                                <div class="form-inline" style="text-align: right">
                                    <input type="text" class="form-control" id="bMo" placeholder="Movimientos" style="width: 75%">
                                    <div class="btn-group accion" style="text-align: left">
                                        <button type="button" class="btn btn-primary trigger">Default</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="porFecha"><a onclick="javascript:void(0)">Por fecha</a></li>
                                            <li class="porConcepto"><a onclick="javascript:void(0)">Por concepto</a></li>
                                            <li class="porDocumento"><a onclick="javascript:void(0)">Por documento</a></li>
                                            <li class="divider"></li>
                                            <li class="default">                                                
                                                <a onclick="javascript:void(0)"><span class="glyphicon glyphicon-ok"></span> Default</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped responsive-utilities table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Concepto</th>
                                        <th>Tipo</th>
                                        <th>Documento</th>
                                        <th>Oficina</th>
                                        <th>Monto</th>
                                        <th>Saldo</th>
                                    </tr>
                                </thead>
                                <tbody>
{{ include ('TodoBundle:Movimientos:mo_list.html.twig', { 'pager' : pager }) }}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-9 miPager">
{{ include ('TodoBundle:Movimientos:mo_pager.html.twig', { 'pager' : pager }) }}
                            </div>
                            <div class="col-md-3">
                                <div class="btn-toolbar pull-right" role="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default total">
                                            Total: {{ pager.getNbResults() }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 id="overview-mobile">Mobile first</h3>
                        <p>With Bootstrap 2, we added optional mobile friendly styles for key aspects of the framework. With Bootstrap 3, we've rewritten the project to be mobile friendly from the start. Instead of adding on optional mobile styles, they're baked right into the core. In fact, <strong>Bootstrap is mobile first</strong>. Mobile first styles can be found throughout the entire library instead of in separate files.</p>
                        <p>To ensure proper rendering and touch zooming, <strong>add the viewport meta tag</strong> to your <code>&lt;head&gt;</code>.</p>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content=</span><span class="s">&quot;width=device-width, initial-scale=1&quot;</span><span class="nt">&gt;</span>
</code></pre></div>
                        <p>You can disable zooming capabilities on mobile devices by adding <code>user-scalable=no</code> to the viewport meta tag. This disables zooming, meaning users are only able to scroll, and results in your site feeling a bit more like a native application. Overall, we don't recommend this on every site, so use caution!</p>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">&quot;viewport&quot;</span> <span class="na">content=</span><span class="s">&quot;width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no&quot;</span><span class="nt">&gt;</span>
</code></pre></div>
                        <h3 id="overview-type-links">Typography and links</h3>
                            <p>Bootstrap sets basic global display, typography, and link styles. Specifically, we:</p>
                            <ul>
                                <li>Set <code>background-color: #fff;</code> on the <code>body</code></li>
                                <li>Use the <code>@font-family-base</code>, <code>@font-size-base</code>, and <code>@line-height-base</code> attributes as our typographic base</li>
                                <li>Set the global link color via <code>@link-color</code> and apply link underlines only on <code>:hover</code></li>
                            </ul>
                        <p>These styles can be found within <code>scaffolding.less</code>.</p>
                        <h3 id="overview-normalize">Normalize.css</h3>
                        <p>For improved cross-browser rendering, we use <a href="http://necolas.github.io/normalize.css/" target="_blank">Normalize.css</a>, a project by <a href="http://twitter.com/necolas" target="_blank">Nicolas Gallagher</a> and <a href="http://twitter.com/jon_neal" target="_blank">Jonathan Neal</a>.</p>
                        <h3 id="overview-container">Containers</h3>
                        <p>Easily center a page's contents by wrapping its contents in a <code>.container</code>. Containers set <code>width</code> at various media query breakpoints to match our grid system.</p>
                        <p>Note that, due to <code>padding</code> and fixed widths, containers are not nestable by default.</p>
<div class="highlight"><pre><code class="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;container&quot;</span><span class="nt">&gt;</span>
...
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bs-docs-sidebar hidden-print" role="complementary">
                        <ul class="nav bs-docs-sidenav">
                            <li>
                                <a href="#overview">Overview</a>
                                <ul class="nav">
                                    <li><a href="#overview-ahorros">Ahorros</a></li>
                                    <li><a href="#overview-mobile">Mobile first</a></li>
                                    <li><a href="#overview-type-links">Typography and links</a></li>
                                    <li><a href="#overview-normalize">Normalize.css</a></li>
                                    <li><a href="#overview-container">Containers</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="back-to-top" href="#top">Back to top</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer ================================================== -->
        <footer class="bs-docs-footer" role="contentinfo">
            <div class="container">
                <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
                <p>Maintained by the <a href="https://github.com/twbs?tab=members">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
                <p>Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <ul class="bs-docs-footer-links muted">
                    <li>Currently v3.1.1</li>
                    <li>&middot;</li>
                    <li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>
                    <li>&middot;</li>
                    <li><a href="../getting-started/#examples">Examples</a></li>
                    <li>&middot;</li>
                    <li><a href="../2.3.2/">v2.3.2 docs</a></li>
                    <li>&middot;</li>
                    <li><a href="../about/">About</a></li>
                    <li>&middot;</li>
                    <li><a href="http://expo.getbootstrap.com">Expo</a></li>
                    <li>&middot;</li>
                    <li><a href="http://blog.getbootstrap.com">Blog</a></li>
                    <li>&middot;</li>
                    <li><a href="https://github.com/twbs/bootstrap/issues?state=open">Issues</a></li>
                    <li>&middot;</li>
                    <li><a href="https://github.com/twbs/bootstrap/releases">Releases</a></li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript">
            $(function() {
                miExpander();
                $('select#ah').bind('change', function(){
                    var url_list  = '{{ path('todo_mo_list', { 'id' : 'val' }) }}',
                        url_list  = url_list.replace('val', $(this).val()),
                        url_pager = '{{ path('todo_mo_pager', { 'id' : 'val' }) }}',
                        url_pager = url_pager.replace('val', $(this).val());
                    if ($('input#bMo').val().length)
                        url_list  = agregarParametroAURL(url_list,'bMo',$('input#bMo').val());
                        url_pager = agregarParametroAURL(url_pager,'bMo',$('input#bMo').val());
                    $.post(url_list, function(data){ $('.table tbody').html(data); miExpander(); });
                    $.post(url_pager, function(data){ $('.miPager').html(data); });
                });
                $('ul.dropdown-menu li > a').css('cursor','pointer');
                busquedaPorFecha();
                $('li.porConcepto a:first').bind('click', function(){
                    $('div.accion button:first').text($(this).text());                    
                });
                $('li.porDocumento a:first').bind('click', function(){
                    $('div.accion button:first').text($(this).text());                    
                });                
                $('button.trigger').bind('click', function() {
                    if ($('ul.dropdown-menu li a span:first').hasClass('glyphicon glyphicon-ok')) { alert($(this).val());
                        {#if ($('ul.dropdown-menu li a:first').text() == "Por fecha") { busquedaPorFecha(); }
                        if ($('ul.dropdown-menu li a:first').text() == "Default") { busquedaPorDefault(); }#}
                    }
                });
            });
            function miExpander() {
                $('span.expander').expander({
                    slicePoint       : 17,
                    widow            : 2,
                    expandEffect     : 'show',
                    expandSpeed      : 0,
                    collapseEffect   : 'hide',
                    collapseSpeed    : 0,
                    expandText       : '>>',
                    userCollapseText : '<<'
                });
            }
            function agregarParametroAURL(url, param, value){
                return url 
                       + (url.split('?')[1] ? '&' : '?')
                       + encodeURIComponent(param)
                       + '=' + encodeURIComponent(value);
            }
            function busquedaPorFecha() {
                $('li.porFecha a:first').bind('click', function(){
                    var txtBtn = $(this).text();
                    $('div.accion button:first').text(txtBtn);
                    $('ul.dropdown-menu li > a span:first').remove();
                    $('li.porFecha a:first').html('<span/> ' + txtBtn);
                    $('li.porFecha a span:first').addClass('glyphicon glyphicon-ok');
                    var url_list  = '{{ path('todo_mo_list', { 'id': 'val', 'bMo': 'val2' }) | raw }}',
                        url_list  = url_list.replace('val', $('select#ah').val()),
                        url_list  = url_list.replace('val2', $('input#bMo').val()),
                        url_pager = '{{ path('todo_mo_pager', { 'id' : 'val', 'bMo' : 'val2' }) | raw }}',
                        url_pager = url_pager.replace('val', $('select#ah').val()),
                        url_pager = url_pager.replace('val2', $('input#bMo').val());
                    $.post(url_list, function(data){ $('.table tbody').html(data); miExpander(); });
                    $.post(url_pager, function(data){ $('.miPager').html(data); });
                });
            }
            function busquedaPorDefault() {
                $('li.default a:first').bind('click', function(){
                    var txtBtn   = $(this).text(),
                        url_list  = '{{ path('todo_mo_list', { 'page' : 1, 'id' : 'val' }) }}',
                        url_list  = url_list.replace('val', $('select#ah option:selected').val()),
                        url_pager = '{{ path('todo_mo_pager', { 'page' : 1, 'id' : 'val' }) }}',
                        url_pager = url_pager.replace('val', $('select#ah option:selected').val());
                    $('div.accion button:first').text(txtBtn);
                    $('ul.dropdown-menu li > a span:first').remove();
                    $('li.default a:first').html('<span/> ' + txtBtn);
                    $('li.default a span:first').addClass('glyphicon glyphicon-ok');
                    $('input#bMo').val('');
                    $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                    $.post(url_pager, function(data) { $('.miPager').html(data); });
                });
            }
        </script>
{% endblock %}