{% if pager.getResults() | length %}
{%  for mo in pager.getResults() %}
                                    <tr>
                                        <th>
{%      if ((mo.moFecha | date('Y-m-d')) == ('now' | date('Y-m-d'))) %}
                                            <a onclick="javascript:void(0)" data-toggle="tooltip" title="Nuevo">{{ mo.moFecha | dateSpanishOs(false) | raw }}</a>
{%      else %}
{% autoescape false %}
                                            {{ mo.moFecha | dateSpanishOs(false) }}
{% endautoescape %}
{%      endif %}
                                        </th>
                                        <td><span class="expander">{{ mo.moConcepto }}</span></td>
                                        <td>{{ mo.moTipo }}</td>
                                        <td>{{ mo.moDocumento }}</td>
                                        <td><span class="expander">{{ mo.moOficina }}</span></td>
                                        <td>{% if mo.moTipo == 'C' %}+{% else %}-{% endif %} <span{% if mo.moTipo == 'C' %} style="color: green"{% else %} style="color: red"{% endif %}>{{ mo.moMonto | moneyFormatOs }}</span></td>
                                        <td{% if mo.moSaldo <= 25 %} style="color: red"{% else %} style="color: #3276B1"{% endif %}><strong>{{ mo.moSaldo | moneyFormatOs }}</strong></td>
                                    </tr>
{%  endfor %}
{%  if app.request.get('bMoConcepto') | length %}
                                    <tr>
                                        <td colspan="7">&nbsp;</td>
                                    </tr>                                    
                                    <tr>
{% set dql = 'SELECT SUM(mo.moMonto) '
           ~ 'FROM TodoBundle:Movimientos mo '
           ~ 'JOIN mo.ahorrosAh ah '
           ~ 'WHERE ah.ahId = :id AND '
           ~ 'mo.moTipo = :tipo AND '
           ~ 'mo.moConcepto LIKE :criterio' %}
{% set param1 = { 'id' : app.request.get('id'), 'tipo' : 'C', 'criterio' : '%' ~ app.request.get('bMoConcepto') ~ '%' } %}
{% set param2 = { 'id' : app.request.get('id'), 'tipo' : 'D', 'criterio' : '%' ~ app.request.get('bMoConcepto') ~ '%' } %}
{% set s1 = dqlSingleOs(dql, param1) %}
{% set s2 = dqlSingleOs(dql, param2) %}
                                        <td colspan="5">&nbsp;</td>
                                        <td style="border: 1px solid #ddd; text-align: right;"><span style="color: brown"><strong>{{ (s1 - s2) | abs | moneyFormatOs }}</strong></span></td>
                                        <td style="border: 1px solid #ddd; text-align: right;">-</td>
                                    </tr>
{%  endif %}
{% else %}
{%  if app.request.get('bMoFecha') | length %}
                                    <tr>
                                        <td colspan="7">
                                            <div class="bs-callout bs-callout-danger" style="margin: 0">
                                                <h4>{{ app.request.get('bMoFecha') | dateSpanishOs }}</h4> 
                                                <p><u>No</u> refleja ning&uacute;n resultado en la consulta actual.</p>
                                            </div>
                                        </td>
                                    </tr>
{%  elseif app.request.get('bMoConcepto') | length %}
                                    <tr>
                                        <td colspan="7">
                                            <div class="bs-callout bs-callout-danger" style="margin: 0">
                                                <h4>"{{ app.request.get('bMoConcepto') }}"</h4> 
                                                <p><u>No</u> refleja ning&uacute;n resultado en la consulta actual.</p>
                                            </div>
                                        </td>
                                    </tr>
{%  elseif app.request.get('bMoDocumento') | length %}
                                    <tr>
                                        <td colspan="7">
                                            <div class="bs-callout bs-callout-danger" style="margin: 0">
                                                <h4>"{{ app.request.get('bMoDocumento') }}"</h4> 
                                                <p><u>No</u> refleja ning&uacute;n resultado en la consulta actual.</p>
                                            </div>
                                        </td>
                                    </tr>
{%  else %}
                                    <tr>
                                        <td colspan="7">
                                            <div class="bs-callout bs-callout-danger" style="margin: 0">
                                                <h4>"Sin registros..."</h4> 
                                                <p><u>No</u> existen movimientos en el mes de <strong><u>{{ 'now' | date('Y-m-d') | monthOs }}</u></strong>.</p>
                                            </div>
                                        </td>
                                    </tr>
{%  endif %}
{% endif %}