{% if pager.getResults() | length %}
{%  for mo in pager.getResults() %}
                                    <tr>
                                        <th>
{%      if ((mo.moFecha | date('Y-m-d')) == ('now' | date('Y-m-d'))) %}
                                            <a onclick="javascript:void(0)" data-toggle="tooltip" title="Nuevo">{{ mo.moFecha | dateSpanishOs(false) }}</a>
{%      else %}
                                            {{ mo.moFecha | dateSpanishOs(false) }}
{%      endif %}
                                        </th>
                                        <td><span class="expander">{{ mo.moConcepto }}</span></td>
                                        <td>{{ mo.moTipo }}</td>
                                        <td>{{ mo.moDocumento }}</td>
                                        <td><span class="expander">{{ mo.moOficina }}</span></td>
                                        <td>{{ mo.moMonto | moneyFormatOs }}</td>
                                        <td{% if mo.moSaldo <= 25 %} style="color: red"{% endif %}>{{ mo.moSaldo | moneyFormatOs }}</td>
                                    </tr>
{%  endfor %}
                                    <tr class="sinhover" style="border: none">
                                        <th style="border: none"></th>
                                        <td style="border: none"></td>
                                        <td style="border: none"></td>
                                        <td style="border: none"></td>
                                        <td style="border: none"></td>
                                        <td>s</td>
                                        <td>st</td>
                                    </tr>
{% else %}
                                    <tr>
                                        <td colspan="7">
                                            <div class="bs-callout bs-callout-warning" style="margin: 0">
                                                <h4>{{ app.request.get('bMo') | dateSpanishOs }}</h4> 
                                                <p><u>No</u> refleja ning&uacute;n resultado en la consulta actual.</p>
                                            </div>
                                        </td>
                                    </tr>
{% endif %}