{% for mo in pager.getResults() %}
                                    <tr>
                                        <th>
{% if ((mo.moFecha | date('Y-m-d')) == ('now' | date('Y-m-d'))) %}
                                            <a onclick="javascript:void(0)" data-toggle="tooltip" title="Nuevo">{{ mo.moFecha | dateSpanish(false) }}</a>
{% else %}
                                            {{ mo.moFecha | dateSpanish(false) }}
{% endif %}
                                        </th>
                                        <td><span class="expander">{{ mo.moConcepto }}</span></td>
                                        <td>{{ mo.moTipo }}</td>
                                        <td>{{ mo.moDocumento }}</td>
                                        <td><span class="expander">{{ mo.moOficina }}</span></td>
                                        <td>{{ mo.moMonto | moneyFormat }}</td>
                                        <td>{{ mo.moSaldo | moneyFormat }}</td>
                                    </tr>
{% endfor %}