{% if pager.haveTopaginate() %}
                                <ul class="pagination" style="margin: 0">
                                    <li{% if pager.getPage() == 1 %} class="disabled"{% endif %}>
                                        <a{% if pager.getPage() != 1 %} id="home"{% else %} onclick="javascript:void(0)"{% endif %}>&LeftArrow;</a>
                                    </li>
                                    <li{% if pager.getPage() == pager.getPreviousPage() %} class="disabled"{% endif %}>
                                        <a{% if pager.getPage != pager.getPreviousPage() %} id="before"{% else %} onclick="javascript:void(0)"{% endif %}>&laquo;</a>
                                    </li>
{% for link in pager.getLinks() %}
                                    <li{% if pager.getPage() == link %} class="disabled"{% endif %}>
                                        <a{% if pager.getPage() != link %} id="pag-{{ link }}"{% endif %} onclick="javascript:void(0)">{{ link }}</a>
                                    </li>
{% endfor %}
                                    <li{% if pager.getPage() == pager.getNextPage() %} class="disabled"{% endif %}>
                                        <a{% if pager.getPage != pager.getNextPage() %} id="forward"{% else %} onclick="javascript:void(0)"{% endif %}>&raquo;</a>
                                    </li>
                                    <li{% if pager.getPage() == pager.getLastPage() %} class="disabled"{% endif %}>
                                        <a{% if pager.getPage() != pager.getLastPage() %} id="last"{% else %} onclick="javascript:void(0)"{% endif %}>&RightArrow;</a>
                                    </li>
                                </ul>
{% else %}
                                <ul class="pagination" style="margin: 0">
                                    <li class="disabled"><a onclick="javascript:void(0)">&LeftArrow;</a></li>
                                    <li class="disabled"><a onclick="javascript:void(0)">&laquo;</a></li>
                                    <li class="disabled"><a onclick="javascript:void(0)">1</a></li>
                                    <li class="disabled"><a onclick="javascript:void(0)">&raquo;</a></li>
                                    <li class="disabled"><a onclick="javascript:void(0)">&RightArrow;</a></li>
                                </ul>
{% endif %}
                                <script type="text/javascript">
                                    $(function() {
                                        miExpander();
                                        $('ul.pagination > li:not(".disabled") a').css('cursor','pointer');
                                        if ($('.table tbody tr a').attr('data-toggle') !== undefined) {
                                            setTimeout(function(){
                                                $('a[data-toggle^="tool"]').tooltip({ placement : 'left' });
                                                $('a[data-toggle^="tool"]').tooltip('show');
                                                setTimeout(function(){
                                                    $('a[data-toggle^="tool"]').tooltip('hide');
                                                },1300);
                                            },500);
                                        }
                                        $('.total').text(
                                                        "Total: {{ pager.getNbResults() }} :: " +
                                                        "Filas x Pág.: {{ pager.getMaxPerPage() }} :: " +
                                                        "Mes: {{ pager.getResults() | length ? pager.getResults()[0].moFecha | monthOs : '-' }}"
                                                        );
{% if pager.haveTopaginate() %}
{%  if pager.getPage() != 1 %}
                                        $('#home').bind('click', function(){
                                            var url_list  = '{{ path('todo_mo_list', { 'page' : 1, 'id' : 'val' }) }}',
                                                url_list  = url_list.replace('val', $('#ah').val()),
                                                url_pager = '{{ path('todo_mo_pager', { 'page' : 1, 'id' : 'val' }) }}',
                                                url_pager = url_pager.replace('val', $('#ah').val());
                                            if ($('input#bMo').val().length)
                                                url_list  = agregarParametroAURL(url_list,'bMo',$('input#bMo').val());
                                                url_pager = agregarParametroAURL(url_pager,'bMo',$('input#bMo').val());
                                            $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                                            $.post(url_pager, function(data) { $('.miPager').html(data); });
                                        });
{%  endif %}
{%  if pager.getPage != pager.getPreviousPage() %}
                                        $('#before').bind('click', function(){
                                            var url_list  = '{{ path('todo_mo_list', { 'page' : pager.getPreviousPage(), 'id' : 'val' }) }}',
                                                url_list  = url_list.replace('val', $('#ah').val()),
                                                url_pager = '{{ path('todo_mo_pager', { 'page' : pager.getPreviousPage(), 'id' : 'val' }) }}',
                                                url_pager = url_pager.replace('val', $('#ah').val());
                                            if ($('input#bMo').val().length)
                                                url_list  = agregarParametroAURL(url_list,'bMo',$('input#bMo').val());
                                                url_pager = agregarParametroAURL(url_pager,'bMo',$('input#bMo').val());
                                            $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                                            $.post(url_pager, function(data) { $('.miPager').html(data); });
                                        });
{%  endif %}
{%  for link in pager.getLinks(3) %}
{%      if pager.getPage() != link %}
                                        $('#pag-{{ link }}').bind('click', function(){
                                            var url_list  = '{{ path('todo_mo_list', { 'page' : link, 'id' : 'val' }) }}',
                                                url_list  = url_list.replace('val', $('#ah').val()),
                                                url_pager = '{{ path('todo_mo_pager', { 'page' : link, 'id' : 'val' }) }}',
                                                url_pager = url_pager.replace('val', $('#ah').val());
                                            if ($('input#bMo').val().length)
                                                url_list  = agregarParametroAURL(url_list,'bMo',$('input#bMo').val());
                                                url_pager = agregarParametroAURL(url_pager,'bMo',$('input#bMo').val());
                                            $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                                            $.post(url_pager, function(data) { $('.miPager').html(data); });
                                        });
{%      endif %}
{%  endfor %}
{%  if pager.getPage() != pager.getNextPage() %}
                                        $('#forward').bind('click', function(){
                                            var url_list  = '{{ path('todo_mo_list', { 'page' : pager.getNextPage(), 'id' : 'val' }) }}',
                                                url_list  = url_list.replace('val', $('#ah').val()),
                                                url_pager = '{{ path('todo_mo_pager', { 'page' : pager.getNextPage(), 'id' : 'val' }) }}',
                                                url_pager = url_pager.replace('val', $('#ah').val());
                                            if ($('input#bMo').val().length)
                                                url_list  = agregarParametroAURL(url_list,'bMo',$('input#bMo').val());
                                                url_pager = agregarParametroAURL(url_pager,'bMo',$('input#bMo').val());
                                            $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                                            $.post(url_pager, function(data) { $('.miPager').html(data); });
                                        });
{%  endif %}
{%  if pager.getPage != pager.getLastPage() %}
                                        $('#last').bind('click', function(){
                                            var url_list  = '{{ path('todo_mo_list', { 'page' : pager.getLastPage(), 'id' : 'val' }) }}',
                                                url_list  = url_list.replace('val', $('#ah').val()),
                                                url_pager = '{{ path('todo_mo_pager', { 'page' : pager.getLastPage(), 'id' : 'val' }) }}',
                                                url_pager = url_pager.replace('val', $('#ah').val());
                                            if ($('input#bMo').val().length)
                                                url_list  = agregarParametroAURL(url_list,'bMo',$('input#bMo').val());
                                                url_pager = agregarParametroAURL(url_pager,'bMo',$('input#bMo').val());
                                            $.post(url_list, function(data) { $('.table tbody').html(data); miExpander(); });
                                            $.post(url_pager, function(data) { $('.miPager').html(data); });
                                        });
{%  endif %}
{% endif %}
                                    });
                                </script>